---
import { DevToolbarBadge } from "astro/runtime/client/dev-toolbar/ui-library/badge.js";
import Cabecera from "../components/cabecera.astro";
import Badge from "../components/badge.astro";
import GitHubIcon from "../Icons/github.astro";
import LinkedIn from "../Icons/linkedIn.astro";
import MailIcon from "../Icons/MailIcon.astro";
import SocialButtons from "../components/SocialButtons.astro";
import Experiencia from "../components/Experiencia.astro";
import CaseIcon from "../Icons/CaseIncon.astro";
import Footer from "../components/Footer.astro";
import CardProyect from "../components/CardProyect.astro";
import ProyectosIcon from "../Icons/ProyectosIcon.astro";

interface props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="img/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="img/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="img/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="icon" type="image/svg+xml" href="img/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div
			class="fixed top-0 left-0 z-[-2] w-screen h-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
		>
		</div>

		<Cabecera />
		<section
			id="about"
			class="w-full sm:px-2 lg:w-[740px] py-36 mx-auto"
		>
			<h1
				class="text-white text-4xl font-bold flex flex-row gap-x-4 pb-10"
			>
				Maximilano Ortiz Cortes
				<a
					class="justify-center items-center"
					target="_blank"
					rel="noopener"
					href="https://github.com/MaxOCs"
				>
					<Badge> Disponible </Badge>
				</a>
			</h1>
			<h2 class="text-2xl text-wrap">
				<span
					>Tengo 23 años, + 2 años y medio de experiencia en
					programación</span
				>
				especialmente en el desarrollo web y móvil. Mis lenguajes mas fuertes
				son <span class="text-amber-300 font-bold">JavaScript</span> y <span
					class="text-violet-800 font-bold">C#</span
				> ademas de frameworks como React, Laravel y React Native, tambien
				desarrollar aplicaciones en .NET utilizando C# conocimentos en .ASP
				Actualmente, el desarrollo web y móvil son mis principales áreas
				de pasión y especialización.
			</h2>

			<nav class="flex flex-col md:flex-row gap-4 mt-8">
				<SocialButtons
					href="https://www.linkedin.com/in/maximilianooc/"
				>
					<LinkedIn class="w-6 h-6" />
					LinkedIn
				</SocialButtons>
				<SocialButtons href="https://github.com/MaxOCs">
					<GitHubIcon class="w-6 h-6" />
					Github
				</SocialButtons>
				<SocialButtons href="mailto:Maxoc.2001@outlook.com">
					<MailIcon class="w-6 h-6" />
					Maxoc.2001@outlook.com
				</SocialButtons>
			</nav>
		</section>
		<section id="experiencia" class="w-full mx-auto lg:w-[740px] px-1">
			<h2 class="text-2xl font-semibold flex gap-3 items-center mb-6">
				<CaseIcon />
				Experiencia Laboral
			</h2>
			<Experiencia />
		</section>
		<section id="proyectos" class="w-full mx-auto lg:w-[740px] px-1">
			<h2 class="text-2xl font-semibold flex gap-3 items-center mb-6">
				<ProyectosIcon />
				Proyectos
			</h2>
			<CardProyect
				titulo="SEP BDI"
				description="Desarrollo e implementación de una Base de Datos Integrada (BDI) en un sistema web,utilizando frameworks como ReactJS para el frontend y Laravel para el backend. El proyecto incluyó la creación de CRUDs, generación de reportes, visualización de datos mediante gráficas, y la implementación de funcionesespecíficas adaptadas a los requerimientos especiales solicitados"
				imagen="img/CapturaBDI.webp"
			/>
			<CardProyect
				titulo="App-Gym"
				description="Desarrollo de una app de Entrenamiento Personal para mejorar la salud fisica, contanto con caracteristicas como Listas de entrenamientos, Registro de progresos con fotografias, Intensidades de entrenamiento, Temporizadores y Notificaciones programadas, desarrollado con React-Native,JSX,Kotlin y el uso de APIREST."
				imagen="img/APP-GYM2.webp"
				link="https://github.com/MaxOCs/APP_DREAMGYM"
			/>
		</section>

		<Footer />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}

	,
	html {
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	,
	body {
		display: flex;
		flex-direction: column;
		background: #0d0d0d00;
		align-items: center;
		display: flex;
		justify-content: center;
	}

	,
	@media (prefers-reduce-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
